FB_APP_PROJECT_ID=your-project-id
FB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FB_APP_CLIENT_EMAIL=your-client-email@your-project-id.iam.gserviceaccount.com
NODE_ENV=development
FIRESTORE_EMULATOR_HOST=
API_SECRET_KEY=
ALLOWED_ORIGINS=https://xavieryjuliana.com,https://www.xavieryjuliana.com
BASE_URL=
PORT=
